# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
venv/
.env.*
.pytest_cache/
.mypy_cache/

# ===== Node =====
node_modules/
dist/
build/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/
.idea/

# ===== Logs =====
*.log
